<div class="row mt-3"><!--début de la div class=row-->
        <div class="col-4">
            <app-menu-dashboard></app-menu-dashboard><!--menu dashboard pour qu'il s'affiche-->
        </div>
    <div class="col-8"><!--début div col-8-->
        <h1 style="color : white">Gestion des users</h1>
            <div>
                <a routerLink="/admin/gestion/ajouter" class="btn btn-primary">Ajouter un utilisateur</a><!--boutton ajout d'un utilisateur-->
            </div>
        
        <table class="table table-striped mt-3"><!--début du tableau-->
            <tbody>
                    <tr *ngFor="let utilisateur of utilisateurs">
                        <td style="color : white">
                            {{ utilisateur.nom }} <!--incrémentation par nom, prénom, id... pour affichage de chaque identité correspondante stocké dans mongodb-->
                        </td>
                        <td style="color : white">
                            {{ utilisateur.prenom }}
                        </td>
                        <td style="color : white">
                            {{ utilisateur._id }}
                        </td>
                        <td style="color : white">
                            {{ utilisateur.email }}
                        </td>
                        <td style="color : white">
                            {{ utilisateur.role }}
                        </td>
                        <td>
                            <a href="/"class="btn btn-warning">Modifier</a><!--boutton nn actif, il renvoie à l'accueil-->
                        </td>
                        <td>
                            <a href="/" class="btn btn-danger">Supprimer</a>
                        </td>
                    </tr>
            </tbody>
        </table><!--fin du tableau-->
    </div><!--fin div col-8-->
</div><!--fin de la div class=row-->