<div class="row"><!--début de la div class=row-->
    <div class="col-md-12">
            <div class="card">
              <h2 class="card-header">Gestion</h2>
                <ul class="list-group list-group-flush"><!--liste des differents composants du menu-->
                        <li class="list-group-item">
                            <a routerLink="/admin/article/liste">Articles</a>
                        </li>
                        <li class="list-group-item">
                            <a routerLink="/admin/gestion/liste">Gestion users</a>  
                        </li>
                        <li class="list-group-item">
                            <a routerLink="/admin/parametre">Paramètre</a>  
                        </li>
                </ul>
        </div>
    </div>
</div><!--fin de la div class=row-->