<br><!--saut de ligne-->
<br>
<br>
<br>
<form><!--début du formulaire-->
      <div class="form-group row">
        <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg" style="color:white">Titre</label>
        <div class="col-sm-10">
          <input type="titre" class="form-control form-control-lg" id="colFormLabelLg" >
        </div>
      </div>
      <div class="form-group row">
        <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg"style="color:white">Contenu</label>
        <div class="col-sm-10">
          <input type="contenu" class="form-control form-control-lg" id="colFormLabelLg">
        </div>
      </div>
      <div class="form-group row">
        <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg"style="color:white">Id</label>
        <div class="col-sm-10">
          <input type="id" class="form-control form-control-lg" id="colFormLabelLg">
        </div>
      </div>
      <div class="form-group row">
        <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg"style="color:white">Auteur</label>
        <div class="col-sm-10">
          <input type="auteur" class="form-control form-control-lg" id="colFormLabelLg" >
        </div>
      </div>
    <div class="form-group row">
      <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg"style="color:white">Date de création</label>
      <div class="col-sm-10">
        <input type="datecreation" class="form-control form-control-lg" id="colFormLabelLg" >
      </div>
    </div>
</form><!--fin du formulaire-->
<form><!--début du formulaire insertion photos + status type boutton radio-->

  <div class="form-group">
            <label for="exampleFormControlFile1" style="color:white">Photos</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
   <div class="form-group"  style="color:black">
            <label style="color :black">Status</label><br>
            <input type="radio"  name="publié" value="P"> Publié <br>
            <input type="radio" name="Brouillon" value="B" checked> Brouillon <br><br>
        </div>
</form><!--fin du formulaire insertion photos + status type boutton radio-->

<div class="form-group">
  <button class="btn btn-lg btn-secondary btn-block btn-signin" type="submit">Enregistrer</button><!--mis en place du boutton pour enregistrements modification-->
</div>
   

