
<br><!--saut de ligne pour faire redescendre la div "container"-->
<br>
<br>

<div class="container" style="background-color: white; width: 600px;">
  <br>
    <div class="container" style="width:250px;">
        <div class="card card-container"><!-- debut card-container -->
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin"><!--début form-->
                  <span id="reauth-email" class="reauth-email"></span>
                  <input type="email" id="inputEmail" class="form-control" placeholder="Adresse Email" required autofocus>
                  <br><!--saut de ligne-->
                  <input type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
                  <div id="remember" class="checkbox">
                      <label>
                          <input type="checkbox" value="remember-me"> Se souvenir de moi
                      </label>
                  </div>
                  <br><!--saut de ligne-->
                  <button class="btn btn-lg btn-secondary btn-block btn-signin" type="submit">Se Connecter</button>
            </form><!-- fin form -->
            <a href="/formulaire" class="forgot-password">
                Mot de passe oublié?
            </a>
            <br><!--saut de ligne-->
        </div><!-- /card-container -->
    </div><!-- /container -->
    <br><!--saut de ligne-->
</div>